body{
	margin: 0px;
	padding: 0px;
	

}
.contenedor, .seleccion {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	height: auto;
	border: 1px solid;
	
}
.logo{
	background-color: green;
	display: flex;
}

header, .Compra, .Categoria {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid;
}

nav ul,.seleccion section ul{
	list-style-type: none;
	padding: 0px;
}
nav ul li, .seleccion section ul li{
	display: inline;
	margin-right: 80px;
	}
nav ul li a,. seleccion section ul li a,.canales aside ul li a{
	text-decoration: none;
}
h1{
	text-align: center;

}
.imagen{
	width: 100%;
	height: 450px;
}
img{
	display: block;
	margin: auto;
	text-align: center;
	height:;

}

.canales ul,.seleccion section ul{
	display: flex;
  justify-content: center;
  justify-content: space-between;
}
.Compra,.Categoria{
	padding: 90px;
	font-size: 40px;
}
.Categoria section{
	border: 1px solid;
}
.Categoria aside h2{
	display: block;
	text-align: center;
	border: 1px solid;
	padding: 50px;
	
}

@media(max-width: 480px){
flex-direction: column;
align-items: flex-start;
.logo{
	margin-block: 20px;
}
nav ul,.canales aside ul{
	flex-direction: column;
	align-items: center;
	
}
nav ul li{
	margin: 20px 0;
}
.Categoria{
	display: inline;
}

.Compra{
display: block;
}
}


@media(max-width:768px){
	flex-direction: column;
align-items: flex-start;
.logo{
	margin-block: 20px;
}
nav ul,.canales aside ul{
	flex-direction: column;
	align-items: center;
	
}
nav ul li{
	margin: 20px 0;
}
}
@media(max-width:1024px){
	flex-direction: column;
align-items: flex-start;
.logo{
	margin-block: 20px;
}
nav ul,.canales aside ul{
	flex-direction: column;
	align-items: center;
	
}
nav ul li{
	margin: 20px 0;
}
}